<div class="flex justify-center items-center h-[calc(100vh-64px)]">
  <div
    *ngIf="shapePath; else notFound"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd($event)"
  >
    <div
      [class.bg-black]="isDarkMode"
      [class.bg-white]="!isDarkMode"
      class="max-w-sm mx-auto rounded-lg shadow-md overflow-hidden relative"
    >
      <div>
        <svg
          *ngIf="!isCameraActive"
          alt="Shape"
          width="300"
          height="300"
          viewBox="0 0 306 306"
          [attr.fill]="isDarkMode ? 'white' : 'black'"
        >
          <path [attr.d]="shapePath"></path>
        </svg>
        <canvas
          *ngIf="isCameraActive"
          #canvasElement
          class="block w-full h-auto p-2"
        ></canvas>
      </div>

      <!-- Check mark en la esquina superior derecha -->
      <div
        class="absolute top-2 right-2 bg-green-500 text-white rounded-full p-1"
        *ngIf="isShapeCompleted"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"
          />
        </svg>
      </div>

      <div class="p-2 text-center">
        <!-- Botón para tomar una foto -->
        <input
          id="takePictureInput"
          type="file"
          accept="image/*"
          capture="environment"
          class="hidden"
          (change)="handlePhotoCapture($event)"
        />
        <label
          for="takePictureInput"
          class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 cursor-pointer"
        >
          {{ 'SCA.SCAN' | translate }}
        </label>
      </div>
      <div>
        <p class="p-2 pt-4 text-center text-green-500 font-semibold">
          {{ predictionMessageG }}
        </p>
        <p class="p-2 pt-4 text-center text-red-500 font-semibold">
          {{ predictionMessageB }}
        </p>
      </div>
    </div>
    <div class="flex justify-between items-center mt-4">
      <button
        (click)="navigateToPrevious()"
        [class.bg-white]="isDarkMode"
        [class.bg-gray-400]="!isDarkMode"
        class="rounded-full hover:bg-gray-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          [attr.fill]="isDarkMode ? 'black' : 'white'"
          class="bi bi-arrow-left-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
          />
        </svg>
      </button>
      <div class="text-center text-gray-500 font-semibold mt-2">
        {{ shapeId }}/{{ totalShapes }}
      </div>
      <button
        (click)="navigateToNext()"
        [class.bg-white]="isDarkMode"
        [class.bg-gray-400]="!isDarkMode"
        class="rounded-full hover:bg-gray-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          [attr.fill]="isDarkMode ? 'black' : 'white'"
          class="bi bi-arrow-right-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
          />
        </svg>
      </button>
    </div>
  </div>

  <ng-template #notFound>
    <p class="text-center text-gray-500 font-bold">
      {{ 'SCA.LOADING' | translate }}
    </p>
  </ng-template>
</div>
