<div
  *ngIf="isModalOpen"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div class="bg-black rounded-lg shadow-lg p-4 max-w-md w-full relative">
    <button
      class="absolute  rounded-4xl pl-1.5 pr-1.5 -top-5 right-5 text-red-500 font-semibold hover:text-gray-400"
      (click)="closeModal()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        fill="currentColor"
        class="bi bi-x-circle-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"
        />
      </svg>
    </button>
    <div class="flex justify-center">
      <img
        *ngIf="modalImageSrc"
        [src]="modalImageSrc"
        alt="Your Image"
        class="max-w-full max-h-96 rounded-lg"
      />
    </div>
  </div>
</div>

<div
  class="flex justify-center items-center h-[calc(100vh-64px)]"
  [ngClass]="{ 'fade-enter': !isVisible, 'fade-enter-active': isVisible }"
>
  <div
    *ngIf="shapePath; else notFound"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd($event)"
  >
    <div
      [class.bg-black]="isDarkMode"
      [class.bg-white]="!isDarkMode"
      class="max-w-sm mx-auto rounded-lg shadow-md overflow-hidden relative"
    >
      <div>
        <svg
          *ngIf="!isCameraActive"
          alt="Shape"
          width="300"
          height="300"
          viewBox="0 0 306 306"
          [attr.fill]="isDarkMode ? 'white' : 'black'"
        >
          <path [attr.d]="shapePath"></path>
        </svg>
        <canvas
          *ngIf="isCameraActive"
          #canvasElement
          class="block w-full h-auto p-2"
        ></canvas>
      </div>

      <!-- Eye en la esquina superior derecha -->
      <div
        class="absolute top-4 right-4 bg-green-500 text-white rounded-full p-1"
        *ngIf="isShapeCompleted"
        (click)="openModalWithImage(shapeId)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-eye-fill"
          viewBox="0 0 16 16"
        >
          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
          <path
            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
          />
        </svg>
      </div>

      <!-- Wrong mark en la esquina superior derecha -->
      <div
        class="absolute top-4 right-4 bg-red-500 text-white rounded-full p-1"
        *ngIf="isShapeWrong"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </div>

      <div *ngIf="isAnalyzing" class="text-center text-gray-500 font-bold">
        {{ "SCA.ANALYZING" | translate }}
      </div>

      <div class="p-2 text-center">
        <!-- Botón para tomar una foto -->
        <input
          id="takePictureInput"
          type="file"
          accept="image/*"
          capture="environment"
          class="hidden"
          (change)="handlePhotoCapture($event)"
        />
        <label
          for="takePictureInput"
          class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 cursor-pointer"
        >
          {{ "SCA.SCAN" | translate }}
        </label>
      </div>
      <div>
        <p class="p-2 pt-4 text-center text-green-500 font-semibold">
          {{ predictionMessageG }}
        </p>
        <p class="p-2 pt-4 text-center text-red-500 font-semibold">
          {{ predictionMessageB }}
        </p>
      </div>
    </div>
    <div class="flex justify-between items-center mt-4">
      <button
        href="#"
        (click)="onClickHandler($event); navigateToPrevious()"
        [class.bg-white]="isDarkMode"
        [class.bg-gray-500]="!isDarkMode"
        class="rounded-full hover:bg-gray-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          [attr.fill]="isDarkMode ? 'black' : 'white'"
          class="bi bi-arrow-left-circle-fill -m-2"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
          />
        </svg>
      </button>
      <div class="text-center text-gray-500 font-semibold mt-2">
        {{ shapeId }}/{{ totalShapes }}
      </div>
      <button
        href="#"
        (click)="onClickHandler($event); navigateToNext()"
        [class.bg-white]="isDarkMode"
        [class.bg-gray-500]="!isDarkMode"
        class="rounded-full hover:bg-gray-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          [attr.fill]="isDarkMode ? 'black' : 'white'"
          class="bi bi-arrow-right-circle-fill -m-2"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
          />
        </svg>
      </button>
    </div>
  </div>
  <ng-template #notFound>
    <p class="text-center text-gray-500 font-bold">
      {{ "SCA.LOADING" | translate }}
    </p>
  </ng-template>
</div>
