<div
  class="py-4 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4"
>
  <div
    *ngFor="let shape of shapes"
    [class.bg-black]="isDarkMode"
    [class.bg-white]="!isDarkMode"
    class="relative max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden"
    (click)="navegate(shape.id)"
  >
    <!-- Checkmark Icon -->
    <div
      class="absolute top-2 right-2 bg-green-500 text-white rounded-full p-1"
      *ngIf="isTaskCompleted(shape.id)"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
      </svg>
    </div>

    <!-- Shape SVG -->
    <svg alt="" width="150" height="150" viewBox="0 0 306 306" [attr.fill]="isDarkMode ? 'white' : 'black'">
      <path [attr.d]="shape.path"></path>
    </svg>
  </div>
</div>