<div class="p-4 flex flex-col items-center justify-center h-[calc(100vh-64px)]">
  <h1
  class="p-8 text-3xl font-bold"
  [class.text-white]="isDarkMode"
  [class.text-black]="!isDarkMode"
>
  {{ 'STA.STATISTICS' | translate }}
</h1>
  <div
    class="w-full max-w-full sm:max-w-lg mx-auto rounded-lg shadow-md overflow-hidden border-2 border-gray-300 relative"
  >
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      style="width: 100%; height: 300px; display: block"
    ></highcharts-chart>
  </div>

  <div class="mt-4 w-full flex justify-center">
    <button
      class="px-4 py-2 bg-red-500 text-white font-semibold rounded-lg hover:bg-red-600"
      (click)="clearState()"
    >
      <!-- Delete Data -->
      {{ 'STA.DELETE' | translate }}
    </button>
  </div>
</div>
